body {
    background-image: url("../images/background.jpg");
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-attachment: fixed;
    align-items: center;
    max-width: 750px;
    margin-left: 25%;
    margin-right: 25%;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 25px;
    min-width: 150px;
}

form {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
}

input,
select {
    max-width: 135px;
    margin: 5px;
}

button {
    margin: 5px;
}

.tool {
    padding: 10px;
    justify-content: center;
}

.main,
.resultsCard {
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 3%;
    width: 50%;
    min-width: 150px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}





/* Custom CSS Effects */
.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

.box {
    border: 5px solid black;
    border-radius: 32px;
    background-color: white;
    color: black;
    padding-right: 30px;
    margin-left: 15px;
    border-color: black;
    box-shadow: 0px 0px 0 0 black;
}

.light-box {
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
    color: black;
    padding: 5px;

    border-color: black;
    box-shadow: 0px 0px 0 0 black;
}

.hover-effect:hover {
    background-color: blueviolet;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
    color: black;
    padding: 5px;
    border-color: black;
    box-shadow: 2px 2px 1px 1px black;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.cartoon-font {
    font-family: 'Rubik Puddles', cursive;
    font-size: 50px;
}

.text-font {
    font-family: 'Permanent Marker', cursive;
}

/* CSS for differnt displays */
@media (max-width: 1200px) {
    form {
        justify-content: center;
        flex-direction: column;
    }
}